.DS_Store
node_modules/
dist/
*.log
.env
.env.local
coverage/
*.pkl
volunteer_training.csv
.vscode/
.idea/
*.swp
*.swo
*.md
!README.md



*.json
!package.json
!package-lock.json
!tsconfig.json
solutionchallenge-9e89a-firebase-adminsdk-fbsvc-ea0cd36d71.json
